<div class="pr-5 pt-5 lg:pt-37px lg:pr-41px">
  <div class="flex justify-between">
    <div>
      <button class="showing-order-button" (click)="showingOrder()" nz-button>
        <span nz-icon nzType="menu"></span>
        Showing 10 Orders
      </button>
    </div>
    <div>
      <a [routerLink]="'/ui/order/create'" class="add-new-order-button" nz-button>
        Add New Order
      </a>
    </div>
  </div>
  <nz-divider></nz-divider>

  <star-food-order-description [orders]="listOfOrders" [orderStatusUpdateButtonName]="'Move to Cooking'"
                                (orderStatusUpdateEvent)="orderStatusUpdate($event)"
  ></star-food-order-description>
</div>

