<div class="grid grid-rows-2 lg:grid-cols-2">
  <div class="block pt-3 pr-5 lg:pr-0 lg:flex lg:justify-between">

    <div class="pr-0 w-full lg:pr-34px">
      <star-food-create-order-form [orderItems]="orderItems"></star-food-create-order-form>
    </div>
    <div class="hidden lg:block divider"></div>
  </div>

  <div class="pl-0 pr-5 lg:pl-47px lg:pr-7">

    <star-food-delivery-details></star-food-delivery-details>
    <div class="mt-8 text-right flex flex-col md:flex-row justify-between">
      <div class="w-full md:w-95%">
        <a class="cancel-order-button w-full md:w-95% block text-center
                  py-18px" (click)="cancelOrder()">
          Cancel
        </a>

      </div>
      <div class="w-full mt-2 md:mt-0 md:w-95% flex md:justify-end">
        <a class="create-order-button block w-full md:w-95% text-center
                  py-18px" (click)="createOrder()"
           [ngClass]="checkFormValid ? 'background-malachite' : 'background-crayola'">
          Add New Order
        </a>

      </div>
    </div>
  </div>
</div>
